############
## Server Config Profile "default"
##

profile_name = 40ch War
display_radar = true
radar_hide_invisible_entities = true
tracked_players_on_minimap = true
tracked_players_in_world = true
